@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/* Use alternate box sizing model */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body,
button {
    margin: 0;
    font-family: "Roboto", sans-serif;
	font-size: 18px;
}

header,
footer,
.top {
    background-color: #1f2937;
}

.quotation {
    background-color: #e5e7eb;
}

.signup-box,
button {
    background-color: #3883f6;
}

h1,
h3,
button,
footer,
.logo {
    color: #f9faf8;
}

.top,
.signup {
    color: #e5e7eb;
}

.info,
.quotation {
    color: #192f37;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2,
blockquote {
    font-size: 36px;
}

h3,
cite,
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Keep content from touching the edges of the screen */
.section {
    padding: 0 80px;
}

/* Center page content
 * Let it shrink dynamically
 * Restrict its maximum width */
.content {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

/* Layout header items */
header.content {
    justify-content: space-between;
    align-items: center;
}

header ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

header a {
    color: inherit;
    text-decoration: none;
}

.hero {
    padding: 100px 0;
    gap: 32px;
}

.hero p {
    margin-top: 8px;
    margin-bottom: 16px;
}

.image {
    height: 240px;
    width: 500px;
    background-color: grey;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
}

h2 {
    text-align: center;
}

.info-cards {
    gap: 50px;
    margin-bottom: 80px;
    justify-content: center;
}

.card {
    width: min-content;
    text-align: center;
}

.card-illustration {
    height: 175px;
    width: 175px;
    border: 4px solid #3883f6;
    border-radius: 8px;
    margin: 8px auto;

}

.quotation {
    padding: 80px 0;
}

.quotation blockquote {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 8px;
}

.quotation cite {
    font-style: normal;
    justify-content: flex-end;
}

.signup {
    padding: 80px 0;
}

.signup-box {
    border-radius: 8px;
    padding: 32px 0;
    justify-content: space-around;
    align-items: center;
}

.signup h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.signup-box button {
    border: 1px solid #f9faf6;
}

footer {
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
